<div class="filter-date">
    <form action="" class="ui form">
        <div class="two fields">
            <div class="field">
                <div class="ui mini labeled input">
                    <div class="ui label">
                        From
                    </div>
                    <input type="date" value="2015-09-16" name="from" title="From">
                </div>
            </div>
            <div class="field">
                <div class="ui mini labeled input">
                    <div class="ui label">
                        To
                    </div>
                    <input type="date" name="to" title="To">
                </div>
            </div>
        </div>
    </form>
</div>
