<div class="filter-date">
    <form action="" class="ui form" id="filter-date-form">
        <div class="two fields">
            <div class="field">
                <div class="ui mini labeled input">
                    <div class="ui label">
                        From
                    </div>
                    <input type="date" name="from" title="From" id="filter-date-input-from" class="filter-date-input">
                </div>
            </div>
            <div class="field">
                <div class="ui mini labeled input">
                    <div class="ui label">
                        To
                    </div>
                    <input type="date" name="to" title="To" id="filter-date-input-to" class="filter-date-input">
                </div>
            </div>
        </div>
    </form>
</div>
