<div id="charts" class="ui grid container">
    <div class="five wide column">
        <div id="sunburst-windows"></div>
    </div>
    <div class="six wide column text-center">
        <div id="sunburst-clusters"></div>
    </div>
    <div class="five wide column text-right">
        <button class="ui olive basic mini button" onclick="app.showCreateTaskDialog()">Add task</button>
        <div id="sunburst-task"></div>
    </div>
    <div id="process-strip"></div>
    <div id="keys-activity"></div>
</div>
