#graph-duration-histogram {
    font-size: 10px;
}
#graph-duration-histogram .bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

#graph-duration-histogram .bar text {
  fill: #fff;
}

#graph-duration-histogram .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}