.sunburst {
    height: 400px;
    margin-bottom: 2em;
}
.sunburst .sunburst-chart{
    position: relative;
    float: left;
}
.sunburst .sunburst-info {
    position: absolute;
    top: 120px;
    left: 100px;
    text-align: center;
    width: 200px;
}
.sunburst .sunburst-duration {
    font-weight: bold;
}
.sunburst .sunburst-percentage {
    font-size: 32px;
}

.sunburst-process-list {
    font-size: 10px;
    margin-left: 450px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sunburst-process .sunburst-duration {
    display: inline-block;
    margin-right: 1em;
    font-weight: bold;
    width: 3em;
}

.sunburst-process:nth-child(odd) {
    background: #eee;
}