#sunburst {
    position: relative;
    float: left;
}
#sunburst .info {
    position: absolute;
    top: 120px;
    left: 100px;
    text-align: center;
    width: 200px;
}
#sunburst .duration {
    font-weight: bold;
}
#sunburst .percentage {
    font-size: 32px;
}


#sunburst-process {
    font-size: 10px;
    margin-left: 450px;
}

#sunburst-process .duration {
    display: inline-block;
    margin-right: 1em;
}