<div class="container-fluid">
    <header>
        <strong>Dashboard</strong>
    </header>
    <div ng-controller="DashboardController as controller">
        <div class="row">
            <div class="col-md-3">
                <div ng-if="controller.isLoaded">
                    <sunburst
                            data="controller.processDuration"
                            on-process-list-update="controller.updateProcessList(data)"
                            on-mouseover="controller.processDurationMouseHover(data)"
                            on-mouseleave="controller.processDurationMouseLeave(data)"/>
                </div>
            </div>
            <div class="col-md-6 process-list-wrapper">
                <table class="table table-striped .table-condensed">
                    <tr ng-repeat="item in controller.processList">
                        <td><strong>{{item.value | durationFilter}}</strong></td>
                        <td>{{item.name}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <div ng-if="controller.isLoaded">
                    <sunburst data="controller.clusterDuration" on-process-list-update="controller.updateProcessList(data)"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-if="controller.isLoaded">
                    <colorstrip data="controller.timeline" api="controller.timelineApi"/>
                </div>
            </div>
        </div>
    </div>
</div>
