.sunburst {
    height: 400px;
    margin-bottom: 2em;
}
.sunburst .sunburst-chart{
    position: relative;
    float: left;
}
.sunburst .sunburst-info {
    position: absolute;
    top: 85px;
    left: 67px;
    text-align: center;
    width: 170px;
}
.sunburst .sunburst-duration {
    font-weight: bold;
}
.sunburst .sunburst-percentage {
    font-size: 16px;
}

.process-list-wrapper {
    height: 400px;
    overflow: scroll;
}

.process-item-duration {
    display: inline-block;
    font-weight: bold;
}

.process-item:nth-child(odd) {
    background: #eee;
}